@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');

body{
    background-color: antiquewhite;
}
.bgnav{
    background-color: plum;
}
.navbar-brand{
    text-shadow: 0 0 5px black;
    font-weight: bold ;
}
.navbar-brand::after{
    content: url(/assets/logo/loguito1.png.webp);
    border-radius: 2px;

}
.nav-link{
    color: white !important ;
    text-transform: capitalize;
    text-shadow: 0 0 5px #333;
}

.jumbotron {
    /*background-image: url(/img/index.jpg);
    color:purple;*/
    border-radius:  0; 
    background-color: #96ffc4;
background-image: linear-gradient(43deg, #96ffc4 0%, #ffbdfc 50%, #ffe19b 100%);

    margin: 0;
    text-shadow: 0 0 5px wheat;
}
.btn-primary{
    background-color:rgb(211, 94, 211) ;
    border: none;
}
.btn-primary:hover{
    background-color: plum;
    
}
h2{
    background-color: rgba(51, 51, 51, 0.678);
    text-align: center;
    text-transform:capitalize;
    color: antiquewhite;
    padding: 5px;
    margin:10px ;
}

.al{
    background-image: url(/img/moro.jpg);
    background-size:cover;
    background-position: center;
    height: 400px;
}
.ar h3{
    text-align: center;
    color:aqua;

}
.ar h3::first-letter{
    color: orange;
}
::selection{
    color: orange;
    background-color:  #333;
}
.container-fluid{
    max-width: 100%;
}
.productos {
    height: auto;
    
}

div.card {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    
}

div.card-body {
    text-align: center;
    padding: 10px 20px;
}

footer{
    font-family: 'EB Garamond', serif;
    background-color: #96ffc4;
    background-image: linear-gradient(43deg, #96ffc4 0%, #ffbdfc 50%, #ffe19b 100%);
    text-align: center;
    padding: 20px;
}
.redes{
    font-size: 25px;
    letter-spacing: 10px;
}
.autor{
    text-align: center;
    text-transform: capitalize;
    color: antiquewhite ;
    
}

